# Dependencies
/vendor/
/composer.phar
/composer.lock

# Environment variables
.env
.env.local
.env.*.local

# Logs
.log
/logs/*

# Temporary files
/tmp/*
!/tmp/.gitkeep

# IDE
/.idea/
/.vscode/
*.swp
*.swo
.DS_Store

# System
Thumbs.db

# Test
/phpunit.xml
/.phpunit.result.cache

# Docker
docker-compose.override.yml
